$base-url: 'assets/';

// Overrides default-colors palette
// =============================================================================

$default-colors: (
  red: #F34235,
  purple: #9B26AF,
  deep-purple: #6639B6,
  indigo: #3E50B4,
  blue: #2095F2,
  light-blue: #02A8F3,
  cyan: #00BBD3,
  teal: #009587,
  green: #4BAE4F,
  light-green: #8ac249,
  lime: #CCDB38,
  yellow: #FEEA3A,
  amber: #FEC006,
  orange: #FE9700,
  deep-orange: #FE5621,
  brown: #785447,
  grey: #9D9D9D,
  blue-grey: #5F7C8A,
);