@include font-face('Icons', 'Icons/Icons', 400, normal, eot woff ttf svg);

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  @include font-smoothing;
}

.icon-large {
  @include size(70%, 70%);
}

.icon-photovoltaic:before { content: "\EA01" }
.icon-thermometer:before { content: "\EA02" }
.icon-battery-0:before { content: "\EA03" }
.icon-battery-20:before { content: "\EA04" }
.icon-battery-40:before { content: "\EA05" }
.icon-battery-60:before { content: "\EA06" }
.icon-battery-80:before { content: "\EA07" }
.icon-battery-100:before { content: "\EA08" }
.icon-battery-charge:before { content: "\EA09" }
.icon-eco:before { content: "\EA10" }
.icon-water:before { content: "\EA11" }
.icon-server-online:before { content: "\EA12" }
.icon-server-eco:before { content: "\EA13" }
.icon-humidity:before { content: "\EA14" }
.icon-wind:before { content: "\EA15" }