doctype html
html
  head
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='app.css')
  body(ng-app='SmartHome')
    div#main
      md-grid-list.tile(md-cols-xs="2" md-cols-sm="4" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="8px")
        md-grid-tile.tile.large.tile-light-blue(md-rowspan="2" md-colspan="2" md-colspan-sm="2")
          div(layout="column")
            div(layout="row" layout-align="center center")
              div.highlight(flex) 14°C
              div(flex)
                img(src="assets/icons/thermometer.svg" style="width: 70%")
            div(style="height: 24px")
            div(layout="row" layout-align="center center")
              div.highlight(flex) 47%
              div(flex)
                img(src="assets/icons/humidity.svg" style="width: 70%")
        md-grid-tile.tile.eco.tile-green
          div(layout="column")
            div.highlight(flex) Eco mode
            div(flex)
              img(src="assets/icons/eco.svg" style="width: 40%")
        md-grid-tile.tile.water-tank.tile-blue
          div(layout="column")
            div.highlight(flex) 52%
            div.icon(flex)
              img(src="assets/icons/water.svg" style="width: 70%")
        md-grid-tile.tile.photovoltaic.tile-amber
          div(layout="column")
            div.highlight(flex) 0,98kWh
            div.icon(flex)
              img(src="assets/icons/photovoltaic.svg" style="width: 50%")
            div.footer 180W - Prevision : 0,9kWh
        md-grid-tile.tile.heating.tile-red
          div(layout="column")
            div.highlight(flex) 3,42kWh
            div.icon(flex)
              img(src="assets/icons/heating.svg" style="width: 50%")

    // build:js ./libs.js
    script(src='../bower_components/lodash/lodash.js')
    script(src='../bower_components/angular/angular.js')
    script(src='../bower_components/angular-aria/angular-aria.js')
    script(src='../bower_components/angular-animate/angular-animate.js')
    script(src='../bower_components/angular-material/angular-material.js')
    script(src='../bower_components/angular-ui-router/release/angular-ui-router.js')
    // endbuild
    // build:jsApp ./app.js
    script(src="app.js")
    // endbuild
    // build:js ./templates.js
    script(src="templates.js")
    // endbuild